.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-color: #ffffff;
  background-image: url("../img/index-background-mobile.jpg");
  background-size: 320px 305px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  min-width: 320px;
}

.about__header {
  width: 250px;
}

.about__slogan {
  font-family: $oswald;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  text-transform: uppercase;
}

.about__box::after {
  content: url("../img/index-can-mobile@1x.png");
}

.about__program-choose {
  display: block;
  padding-top: 10px;
  padding-bottom: 12px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    position: relative;
    align-items: flex-start;
  }

  .about__box {
    margin-left: 90px;
    margin-bottom: 20px;
    align-items: flex-start;
    color: #111111;
    background-color: #ffffff;
    background-image: none;
  }

  .about__header {
    width: 415px;
    margin-bottom: 41px;
  }

  .about__slogan {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .about__box::after {
    content: "";
  }

  .about__program-choose {
    position: absolute;
    top: 230px;
    left: 118px;
    padding-top: 15px;
    padding-bottom: 17px;
    width: 245px;
    z-index: 2;
  }

  .about__wrapper::after {
    z-index: 1;
    content: url("../img/index-can-tablet@1x.jpg");
  }
}

@media (min-width: $desktop-width) {
  .about {
    display: flex;
  }

  .about__box {
    margin-left: 80px;
    margin-top: 77px;
    margin-bottom: 53px;
  }

  .about__program-choose {
    position: static;
    margin-left: 80px;
    padding-top: 15px;
    padding-bottom: 17px;
    width: 245px;
  }

  .about__wrapper::after {
    content: "";
  }

  .about::after {
    content: url("../img/index-can-desktop@1x.png");
    position: absolute;
    top: 142px;
    right: 330px;
    z-index: 2;
  }
}
