.about {
  margin-left: 30px;
  margin-right: 30px;
}

.about__wrapper {
  background-image: url("/img/index-background-mobile.jpg");
  background-repeat: no-repeat;
}

.about__header {
  color: #ffffff;
}

.about__slogan {
  font-family: $oswald;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.about__program-choose {
  display: block;
  padding: 6px 10px;
  width: 280px;
  height: 40px;
}
