.add-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #e5e5e5;
  border-collapse: collapse;
  border-spacing: 0;
}

.add-card__title {
  font-family: $oswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  width: 280px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.add-card__field,
.add-card__value {
  @include card;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 14px;
}

.add-card__btn-wrapper {
  padding: 0;
  margin-bottom: 18px;
}

.add-card__button {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 280px;
  font-size: 16px;
}

@media (min-width: $tablet-width) {
  .add-card {
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 26px 36px;
  }

  .add-card__title {
    flex-grow: 1;
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .add-card__field,
  .add-card__value {
    font-size: 16px;
    line-height: 20px;
    padding: 0;
  }

  .add-card__value {
    margin-left: 53px;
  }

  .add-card__btn-wrapper {
    padding: 0;
    margin-bottom: 0;
  }

  .add-card__button {
    padding: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    width: 633px;
  }
}

@media (min-width: $desktop-width) {
  .add-card {
    flex-wrap: nowrap;
    padding: 0;
    padding-top: 18px;
    // border-bottom: none;
    // border-top: 1px solid #e5e5e5;
  }

  .add-card__title {
    width: 325px;
  }

  .add-card__field {
    width: 240px;
    text-align: left;
  }

  .add-card__value {
    margin-left: 0;
    width: 63px;
    text-align: left;
  }

  .add-card__button {
    width: 245px;
  }
}
