.add-catalog {
  margin-left: 30px;
  margin-right: 30px;
}

.add-catalog__title {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}

.add-catalog__list {
  padding: 10px 0;
}

.add-catalog__item {
  padding: 10px 0;
}
