.add-catalog__title {
  padding-bottom: 34px;
  border-bottom: 1px solid #e5e5e5;
}

.add-catalog__line {
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    z-index: -1;
    width: 20%;
    height: 3px;
    background-color: #68b738;
  }
}

.add-catalog__list {
  border-spacing: 0;
  margin-bottom: 39px;
}

.add-catalog__item {
  border-bottom: 1px solid #e5e5e5;
}

.add-catalog__promo {
  padding-top: 65px;
  padding-bottom: 26px;
  margin: 0 auto;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .add-catalog__title {
    width: 415px;
    background-color: #ffffff;
    padding-bottom: 79px;
    padding-left: 36px;
    border: none;
  }

  .add-catalog__line::before {
    top: 20%;
    width: 100%;
  }

  .add-catalog__item {
    border: 1px solid #e5e5e5;
  }

  .add-catalog__promo {
    padding-bottom: 74px;
    padding-left: 91px;
    padding-right: 125px;
    margin-top: 67px;
    margin-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .add-catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .add-catalog__line {
    width: 100%;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 78px;
  }

  .add-catalog__item {
    border-left: none;
    border-right: none;
  }

  .add-catalog__line::before {
    top: 15%;
  }

  .add-catalog__list {
    margin-bottom: 86px;
    border: none;
  }

  .add-catalog__promo {
    margin: 0;
    margin-bottom: 86px;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 43px;
  }
}
