.add-catalog__title {
  padding-bottom: 34px;
  border-bottom: 1px solid #e5e5e5;
}

.add-catalog__list {
  border-spacing: 0;
  margin-bottom: 39px;
}

.add-catalog__promo {
  padding-top: 65px;
  padding-bottom: 26px;
  margin: 0 auto;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .add-catalog__title {
    padding-bottom: 79px;
    padding-left: 36px;
    border: none;
  }

  .add-catalog__list {
    border: 1px solid #e5e5e5;
    margin-bottom: 67px;
  }

  .add-catalog__promo {
    padding-bottom: 74px;
    padding-left: 91px;
    padding-right: 125px;
    margin-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .add-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .add-catalog__title {
    width: 100%;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 78px;
  }

  .add-catalog__list {
    width: 895px;
    margin-bottom: 86px;
    border: none;
  }

  .add-catalog__promo {
    margin: 0;
    margin-bottom: 86px;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 43px;
  }
}
