.button {
  background-color: #68b738;
  font-family: $oswald;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  @include links;
}
