.button {
  @include links;
  background-color: #68b738;
  font-family: $oswald;
  // font-size: 16px;
  font-weight: normal;
  // line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}

// @media (min-width: $tablet-width) {
//   .button {
//     font-size: 20px;
//     line-height: 20px;
//   }
// }
