.example {
  background-color: #f2f2f2;
}

.example__title {
  color: #111111;
  line-height: 60px;
  padding-top: 15px;
  margin-bottom: 23px;
}

.example__description {
  @include paragraph;
  margin-bottom: 25px;
  width: 266px;
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // временно
  padding-bottom: 50px;
}

.example__box {
  position: relative;
  width: 124px;
}

.example__value {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 17px;
  font-family: $oswald;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
}

.example__field {
  position: absolute;
  left: 21px;
  bottom: -13px;
  width: 82px;
  height: 21px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  text-align: center;
  color: #444444;
  background-color: #f2f2f2;
}

.example__total {
  margin-top: 35px;
  flex-grow: 1;
  font-family: $oswald;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
  }

  .example__title {
    padding-top: 42px;
    margin-bottom: 64px;
  }

  .example__description {
    width: 676px;
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .example__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: no-wrap;
  }

  .example__box {
    width: 162px;

    &:first-child {
      margin-right: 42px;
    }
  }

  .example__value {
    padding-top: 15px;
    padding-bottom: 18px;
    font-size: 30px;
    line-height: 37px;
  }

  .example__field {
    position: absolute;
    left: 10px;
    bottom: -18px;
    width: 142px;
    height: 27px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  .example__total {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 167px;
    padding-top: 6px;
    width: 175px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .example__title {
    padding-top: 24px;
    margin-bottom: 146px;
  }

  .example__description {
    width: 432px;
    margin-bottom: 68px;
  }

  .example__wrapper {
    width: 432px;
    flex-wrap: wrap;
  }

  .example__total {
    flex-direction: row;
    margin: 0;
    padding-top: 56px;
    text-align: left;

    & span {
      margin-left: 64px;
    }
  }
}
