.example {
  background-color: #f2f2f2;
  padding-bottom: 39px;
}

.example__title {
  color: #111111;
  line-height: 60px;
  padding-top: 15px;
  margin-bottom: 23px;
}

.example__description {
  @include paragraph;
  margin-bottom: 25px;
  width: 266px;
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 26px;
}

.example__box {
  position: relative;
  width: 124px;
}

.example__value {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 17px;
  font-family: $oswald;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
}

.example__field {
  position: absolute;
  left: 21px;
  bottom: -13px;
  width: 82px;
  height: 21px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  text-align: center;
  color: #444444;
  background-color: #f2f2f2;
}

.example__total {
  margin-top: 35px;
  flex-grow: 1;
  font-family: $oswald;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.before-after {
  margin: 0 auto;
  width: 311px;
  height: 232px;
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.scale {
  margin: 35px auto 0;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
}

// .example__image-slider {
// 	position:relative;
// 	display: inline-block;
// }

// .example__image-slider > div {
// 	position: absolute;
// 	top: 0; bottom: 0; left: 0;
// 	width: 50%;
// 	max-width: 100%;
// 	overflow: hidden;
// 	resize: horizontal;
// }

// .example__image-slider > div:before {
// 	content: '';
// 	position: absolute;
// 	right: 0; bottom: 0;
// 	width: 13px; height: 13px;
// 	padding: 5px;
// 	background: linear-gradient(-45deg, white 50%, transparent 0);
// 	background-clip: content-box;
// 	cursor: ew-resize;
// 	-webkit-filter: drop-shadow(0 0 2px black);
// 	filter: drop-shadow(0 0 2px black);
// }

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(to bottom, #ffffff 57%, #f2f2f2 43%);
    padding-bottom: 80px;
  }

  .example__title {
    padding-top: 42px;
    margin-bottom: 64px;
  }

  .example__description {
    width: 676px;
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .example__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: no-wrap;
    margin-bottom: 77px;
  }

  .example__box {
    width: 162px;

    &:first-child {
      margin-right: 42px;
    }
  }

  .example__value {
    padding-top: 15px;
    padding-bottom: 18px;
    font-size: 30px;
    line-height: 37px;
  }

  .example__field {
    position: absolute;
    left: 10px;
    bottom: -18px;
    width: 142px;
    height: 27px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  .example__total {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 167px;
    padding-top: 6px;
    width: 175px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  .before-after {
    margin: 0 auto;
    width: auto;
    height: 517px;
    background-image: url("../img/before-tablet@1x.png");
    background-size: contain;
  }

  .scale {
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: #dcdcdc;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-bottom: 68px;
    background: linear-gradient(to top, #f2f2f2 75%, #ffffff 25%);
  }

  .example__inner {
    position: relative;
  }

  .example__title {
    padding-top: 24px;
    margin-bottom: 146px;
  }

  .example__description {
    width: 432px;
    margin-bottom: 68px;
  }

  .example__wrapper {
    width: 432px;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .example__total {
    flex-direction: row;
    margin: 0;
    padding-top: 56px;
    text-align: left;

    & span {
      margin-left: 64px;
    }
  }

  .example__cat-box {
    position: absolute;
    top: 0;
    right: 0;
  }

  .before-after {
    margin: 0;
    width: 635px;
    background-image: url("../img/before-desktop@1x.png");
    background-size: contain;
  }

  .scale {
    margin-top: 16px;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: #dcdcdc;
  }
}
