.form__label,
.form__field,
.form__text {
  @include text-form;
}

.form__button {
  display: block;
  padding: 6px 10px;
  width: 280px;
  height: 40px;
}

.form__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #444444;
}
