.header-level3 {
  font-family: $oswald;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .header-level3 {
    font-size: 36px;
    line-height: 36px;
  }
}
