.menu__item {
  border-top: 1px solid #e5e5e5;
  // отступы из головы, для примера
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.menu__link {
  @include links;
  color: #222222;
}
