.page-header {
  background-color: #ffffff;
  font-family: $oswald;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__box {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  //временно
  // min-height: 65px;
}

.page-header__logo {
  @include links;
  display: inline-block;
  margin: 13px 0 12px;
  padding: 0;
  width: 191px;
  height: 39px;
  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;
}

.page-header__toggle {
  margin: 23px 0 24px;
  padding: 0;
  width: 24px;
  height: 18px;
  background: 0 url("../img/icon-mobile-menu.svg") no-repeat;
  border: 0;
}

.page-header__nav {
  //временно
  min-height: 200px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }

  .page-header__box,
  .page-header__nav {
    //временно
    min-height: 145px;
  }

  .page-header__box {
    padding: 0;
  }

  .page-header__logo {
    background-image: url("../img/logo-tablet.svg");
    margin: 25px 0 62px;
    width: 173px;
    height: 58px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    padding: 0 40px;
  }

  .page-header__box,
  .page-header__nav {
    //временно
    min-height: 195px;
  }

  .page-header__logo {
    background-image: url("../img/logo-desktop.svg");
    margin: 56px 0 113px;
    width: 202px;
    height: 59px;
  }
}
