.promo {
  margin-left: 30px;
  margin-right: 30px;
  width: 280px;
  height: 290px;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__icon {
  padding: 30px;
}

.promo__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
