.questionnaire__title {
  color: #111111;
  line-height: 60px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.questionnaire__description {
  margin: 0;
  font-family: $oswald;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  width: 230px;
}

.questionnaire__form {
  margin-top: 39px;
  margin-bottom: 12px;
}

@media (max-width: 1299px) and (min-width: 768px) {
  .questionnaire__title {
    margin-left: -40px;
    margin-right: -40px;
  }
}

@media (min-width: $tablet-width) {
  .questionnaire__title {
    padding-top: 1px;
    padding-bottom: 55px;
  }

  .questionnaire__form {
    margin-bottom: 70px;
    margin-top: 67px;
  }

  .questionnaire__description {
    font-size: 20px;
    line-height: 30px;
    width: 373px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__form {
    margin-bottom: 79px;
  }

  .questionnaire__description {
    width: 323px;
  }
}
