.questionnaire__title {
  color: #111111;
  line-height: 60px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.questionnaire__description {
  margin: 0;
  font-family: $oswald;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  width: 230px;
}

.questionnaire__form {
  margin-top: 39px;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .questionnaire__title {
    padding-top: 1px;
    padding-bottom: 54px;
  }

  .questionnaire__description {
    font-size: 20px;
    line-height: 30px;
    width: 373px;
    padding-left: 40px;
  }

  .questionnaire__form {
    margin-top: 67px;
    // padding-left: 40px;
    // padding-right: 37px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__description {
    width: 323px;
    padding-left: 0;
  }
}
