.target-programs__list {
  @include list;
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.target-programs__item:first-child {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .target-programs__list {
    margin-bottom: 45px;
  }

  .target-programs__item:first-child {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .target-programs__list {
    margin-bottom: 43px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .target-programs__item:first-child {
    margin-right: 80px;
  }
}
